$color-gray:            #5B5A5C;
$color-gray-light:      #888888;
$color-gray-dark:       #2B2B2B;
$color-aliceblue:       #F0F8FF;

$color-primary:         #4DB6CE;
$color-success:         #4fa554;
$color-info:            #97D6F3;
$color-warning:         #F18AD2;
$color-danger:          #E14D4D;